

/*body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;
}*/

#passwordchangedcontainer{
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url() 0% fixed;
  background-size: cover;
  background-color: orange;
  background-image:none;
}

@keyframes spinner {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(359deg); }
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  
}


.login {
  
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
 
  }

  
  input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: black
  }
    
    i.fa {
        color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }
    
    

  
  .title {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  
  button {
    width: 30%;
    height: 100%;
    padding: 10px 10px;
    color: white;
    display: block;
    border: none;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    float: right;
    background-color:darkblue;
    transition: all 0.1s ease-out;
    
    
    
  }
  

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  font-size: 0.8em;

}

#registrationmessage{
  color: green;
}

button.approve{
    width: 25%;
    height: 100%;
    padding: 10px 10px;
    color: white;
    display: block;
    margin-top: 5px;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    float: left;
    border: 2px solid;
    background-color:green;
    transition: all 0.1s ease-out;
}

button.deny{
  
  width: 25%;
  height: 100%;
  padding: 10px 10px;
  color: white;
  display: block;
  margin-top: 5px;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0,0,0,0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  float: left;
  background-color:red;
  border:  2px solid;
  transition: all 0.1s ease-out;
}

#approvalstatus{
  margin-top: 15px;
  border: 10px;
}


